// Primary colors
$sanMarino: #4861A1;
$black: #000000;
$mystic: #E2E6F0;
$whisper: #F7F8FB;
$white: #FFFFFF;

// Secondary colors
$waikawaGray: #5671B9;
$eastBay: #45598C;
$red: #E30303;
$persimmon: #FF5858;
$azalea: #F5C9CA;
$deYork: #6FCF97;
$swansDown: #D0EDDD;
$macaroniAndCheese: #FFCA7A;
$milkPunch: #FFF5D4;
$scorpion: #5C5C5C;
$doveGray: #707070;
$gray: #818181;
$silverChalice: #9E9E9E;
$silver: #C0C0C0;
$alto: #DFDFDF;
$mercury: #E8E8E8;
$gallery: #EEEEEE;
$concrete: #F0F0F0;
$alabaster: #F8F8F8;